{
  "printWidth": 100,
  "singleQuote": true,
  "plugins": ["prettier-plugin-astro"],
  "overrides": [
    {
      "files": "*.astro",
      "options": {
        "parser": "astro"
      }
    },
    {
      "files": "src/content/**/*.json",
      "options": {
        "printWidth": 100,
        "tabWidth": 2
      }
    }
  ]
}
